html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;

}

header {
  padding-top: 1rem;
  background-image: url("c://projects/tortoiseshelloptics/resources/images/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.container {
    width: 960px;
    margin: 0 auto;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav section {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}


.menu {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}


.motto {
  background-color:  white;
  color: black;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  line-height: 1.2;
}

.motto span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.usp {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
}

.service img {
  margin-bottom: 1rem;
  width: 5rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

img {
  border-style: none;
}

.info {
  display: flex;
  justify-content: center;
}

.about {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  max-width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

p {
  padding: 1rem 0;
}

footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  header {
    padding: 0;
    height: 22rem;
  }
  .motto {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    line-height: 1.2;
  }

  .motto span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.33rem  }
}


@media only screen and (max-width: 470px) {
  .menu ul {
    display: none;
  }
  .menu ul.mobile {
    display:block;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }

  .motto {
    margin-top: 9rem;
    margin-right: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    }

  .logo span {
    display: none;
  }

  .usp {
    flex-direction: column;
    align-items: center;
    padding: 3.77rem 0;
  }

  .service {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 0.77rem;
    margin: .77rem 0;
    height: auto;
  }
  footer{
    justify-content: center;
  }
  footer img {
    margin: 0;
  }
  footer span {
    display: none;
  }
  .info {
    flex-direction: column;
  }
  .about {
    width: 100%;
    margin-bottom: 4rem;
  }

  .title {
    min-width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  p {
    padding-top: 1rem;
    font-size: 0.77rem;
  }
}

@media only screen and (min-width: 470px) {
  .mobile {
    display:none;
  }
}
