html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;

}

header {
  padding-top: 1rem;
  background-image: url("c://projects/tortoiseshelloptics/resources/images/glasses-bg.png");
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav section {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}


.menu {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}


.motto {
  background-color:  white;
  color: black;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  line-height: 1.2;
}

.motto span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.usp {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
}

.service img {
  margin-bottom: 1rem;
  width: 5rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

img {
  border-style: none;
}

.info {
  display: flex;
  justify-content: center;
}

.about {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  max-width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

p {
  padding: 1rem 0;
}

footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
